/* ====================
    General
==================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ====================
    Typography
==================== */

body {
    font-family: 'Source Sans Pro', sans-seriff;
    font-size: 1rem;
    color: #404040;
    margin: 0;
    text-align: center;
    background: whitesmoke;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color:#88CDF2;
    margin: 0;
}

strong {
    font-weight: 700;
}

input {
    font-family: inherit;
    text-align: inherit;
    padding: 0.25em;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-size: 1rem;
    font-weight: 900;
    color: #1792D2;
    text-transform: uppercase;
    margin: 0 auto;
}

main h2 + p {
    margin-bottom: 1.5em;
}

.intro h1 {
    font-size: 2.5rem;
    margin: 0 0.5em 1.5em 2em;
    max-width: 275px;
}

.city {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0.2em;
}

.city + h3 {
    color: #1792D2;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto 1em;
}

.confirmation-text {
    margin-bottom: 0.0625em;
}

.name {
    text-transform: capitalize;
}

.description {
    margin: 0 0.05em 1.5em;
    line-height: 1.6em;
}

.top-text {
    font-size: 0.625rem;
    font-weight: 900;
    color:#1792D2;
    padding-top: 0.5em;
    border-top: 5px solid #1792D2;
    border-image: linear-gradient(to left, #1792D2, #1e86be) 1;
    margin-top: 0;
    text-transform: uppercase;
    order: -1;
    letter-spacing: 1px;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
    margin: 0 auto 1em;
}

.logo-container > p {
    font-weight: 900;
    text-transform: uppercase;
}

.btn {
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1.5em;
}

/* ====================
    Layout
==================== */


/* ---- Intro Section ---- */

.intro {
    position: relative;
    background-image: url(../assets/images/musician.jpg), linear-gradient(pink, blue);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 2em;
    min-height: 50vh;
}

@keyframes Animation { 
    from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

/* ---- Main Content Section ---- */

main {
    padding: 0 1em 2em;
    display: flex;
    flex-flow: column nowrap;
}

main > *,
.intro > * {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.event {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


.city {
    display: flex;
    align-items: center;
    justify-content: center;
}

.city::before,
.city::after {
    content: '';
    background-color: #1792D2;
    width: 2em;
    height: 2.5px;
    border-radius: 100px;
}

.city::before {
    margin-right: 0.5em;
}


.city::after {
    margin-left: 0.5em;
}

.logo {
    max-width: 25%;
    cursor: pointer;
}

/* ---- Form ---- */

.email-collector {
    width: 250px;
    margin: 0 auto;
}

input,
.btn-wide {
    width: 100%;
}

input {
    border: 0;
    border-bottom: 0.1em solid #1792D2;
    margin-bottom: 1em;
    transform: scale(1);
    transition: transform 250ms;
}


input:focus {
    transform: scale(1.05);
}

input:required {
    box-shadow: none;
}

input:required:focus {
    border-width: 2px;
}

form input:last-of-type {
    margin-bottom: 1.125em;
}

.btn {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-image: linear-gradient(to left, #1792D2, #1e86be);
    color: #FFF;
    transform: scale(1);
    transition: transform 250ms;
    margin-bottom: 1.4em;
}

.btn-primary:focus,
.btn-primary:hover {
    transform: scale(1.05);
}

/* =======================
    Media Queries
========================== */

@media (min-width: 500px) {
    .intro h1 {
        margin: 0 1.5em 1.5em 2em;
    }
}

@media (min-width: 650px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
        margin-top: 0.5em;
    }

    main,
    .intro {
        width: 50%;
        min-height: 100vh;
    }
    
    .intro {
        padding-right: 0.65em;
        padding-left: 0.65em;
        align-items: flex-end;
    }
    
    .intro h1 {
        font-size: 2.5rem;
        margin: 0 0 3em 2em;
        max-width: 600px;
    }

    .city + h3 {
        margin: 0 auto 1em;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-container {
        margin-top: 4em;
    }

    .top-text {
        margin-bottom: 0;
    }
    
    .city {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0;
        font-size: 2.5rem;
        line-height: 1em;
    }
}

@media (min-width: 750px) {
    .intro h1 {
        font-size: 2.75rem;
    }
}

@media (min-width: 950px) {
    .intro h1 {
        font-size: 3rem;
        margin: 0 0.5 3em 2em;
        max-width: 400px;
    }
}

@media (min-width: 1250px) {
    .intro h1 {
        font-size: 3.25rem;
        max-width: 450px;
    }

    .intro h1 {
        margin: 0 0.1em 3em 2em;
    }
}

@media (min-width: 1450px) {
    .intro h1 {
        font-size: 3.5rem;
        max-width: 550px;
    }

    .intro h1 {
        margin: 0 0.2em 3em 3em;
    }
}

@media (min-width: 1550px) {
    .intro h1 {
        font-size: 3.3rem;
        max-width: 550px;
    }

    .intro h1 {
        margin: 0 0.3em 3em 2em;
    }
}


@media (min-width: 1750px) {
    .intro h1 {
        font-size: 3.5rem;
        max-width: 600px;
    }

    .intro h1 {
        margin: 0 0.7em 3em 2em;
    }
}