/* ====================
    General
==================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ====================
    Typography
==================== */

body {
    font-family: 'Source Sans Pro', sans-seriff;
    font-size: 1rem;
    color: #404040;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #FFF;
    margin: 0;
}

h1 + p {
    font-weight: 900;
    font-size: 1.3125rem;
    color: #F18119;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-size: 1rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    margin: 0;
}

.top-text {
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
    padding-top: 0.5em;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(to left, #FF713B, #FFA51D) 1;
    margin-top: 0;
    text-transform: uppercase;
    order: -1;
    letter-spacing: 1px;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 700;
}

input {
    font-family: inherit;
    text-align: inherit;
    padding: 0.25em;
}

.btn {
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1.5em;
}

/* ====================
    Layout
==================== */


/* ---- Intro Section ---- */

.intro {
    background-image: url(../assets/images/ribs.jpg);
    background-color: #404040;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.65em 2em;
    min-height: 50vh;
}

/* ---- Main Content Section ---- */

.main-content {
    padding: 2em 1em 2em;
}

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* ---- Form ---- */

.email-collector {
    width: 250px;
}

input,
.btn-wide {
    width: 100%;
    border-radius: 5px;
}

input {
    border: 1px solid #404040;
    margin-bottom: 0.75em;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.05);
}

input:required {
    box-shadow: none;
}

input:required:focus {
    border-width: 2px;
}

.btn {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    color: #FFF;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:focus,
.btn-primary:hover {
    transform: scale(1.05);
}

/* =======================
    Media Queries
========================== */

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3em;
    }

    .top-text {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .intro > * {
        max-width: 600px;
    }
}